









#myMenu{
  position: fixed;
  top: 50%;
  right: 0px;
  margin-top: -88px;;}
#myMenu li{
  list-style: none;
  text-align: right;
  padding-right: 30px;
  position: relative;;;;}
  #myMenu li:after{content:"";position:absolute;width:9px;height:9px;background-color:#727272;border-radius:50%;top:8px;right:12px;}
#myMenu a{color: #848484;
font-family: "Proxima Nova";
font-size: 16px;
font-weight: 300;
line-height: 23.98px;
/* Text style for "Волшебные" */
letter-spacing: 0.64px;}
.fp-viewing-sec02 #myMenu .link02 a,
.fp-viewing-sec03 #myMenu .link03 a,
.fp-viewing-sec04 #myMenu .link04 a,
.fp-viewing-sec05 #myMenu .link05 a,
.fp-viewing-sec06 #myMenu .link06 a,
.fp-viewing-sec07 #myMenu .link07 a,
.fp-viewing-sec08 #myMenu .link08 a{color:#ea3437;}

.fp-viewing-sec02 #myMenu .link02:after,
.fp-viewing-sec03 #myMenu .link03:after,
.fp-viewing-sec04 #myMenu .link04:after,
.fp-viewing-sec05 #myMenu .link05:after,
.fp-viewing-sec06 #myMenu .link06:after,
.fp-viewing-sec07 #myMenu .link07:after,
.fp-viewing-sec08 #myMenu .link08:after{background-color: #ea3437;}
@media(max-width: 1450px){
  #myMenu li a{width:9px;    display: block;font-size:0px;height:9px;background-color:#727272;border-radius:50%;margin-bottom: 10px;}
  #myMenu li:after{display: none;}
  #myMenu li{margin-bottom: 10px;}
  .fp-viewing-sec02 #myMenu .link02 a,
  .fp-viewing-sec03 #myMenu .link03 a,
  .fp-viewing-sec04 #myMenu .link04 a,
  .fp-viewing-sec05 #myMenu .link05 a,
  .fp-viewing-sec06 #myMenu .link06 a,
  .fp-viewing-sec07 #myMenu .link07 a,
  .fp-viewing-sec08 #myMenu .link08 a{background-color:#ea3437;}
}
.fp-viewing-sec01-0 .head{    background-color: transparent;}

.chatWrap {
    position: fixed;
    bottom: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    z-index: 30;
    max-width: 410px;
    overflow: hidden;
    min-height: 270px;
  }
  .chat {
    
    position: absolute;
    bottom: 0px;
    height: 100%;
    background-color: #f9efeb;
    width: 100%;
    max-width: 391px;
    box-shadow: -1px 1px 29px rgba(29, 29, 29, 0.14);
    border-radius: 5px;
    border-left: 5px solid #ea3437;
    transition: right 0.5s ease-in-out;
    display: block;
    right: 0px;
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-image: url(../img/menuBack.png);
  }
  .chatWrap.closed{pointer-events: none;}
  .chatWrap.closed .chat{
    
    right: -410px;
  }

.chatWrap .close{
  float: none;
  margin: 60px 30px 30px;;;}
.chatWrap a{color: #2b2b2b;
font-family: "Proxima Nova";
font-size: 18px;
font-weight: 400;
line-height: 23.98px;
/* Text style for "Пункт меню" */
letter-spacing: 0.36px;display: block;padding: 5px 26px;;;}
.chatWrap a:hover{
  text-decoration: none;
  font-size: 20px;;;}
/*.headWrap{    position: fixed;
    background-color: #686868;}*/
/*.headWrap .head{background-color: #686868;}*/

